<img border='0' src='static/remotes/ini5/rc.png' usemap='#map' >
<map name="map">
	<area shape="circle" coords="55,32,12" alt="Power" onclick="pressMenuRemote('116');">
	<area shape="circle" coords="19,58,12" alt="1" onclick="pressMenuRemote('2');">
	<area shape="circle" coords="55,58,12" alt="2" onclick="pressMenuRemote('3');">
	<area shape="circle" coords="87,58,12" alt="3" onclick="pressMenuRemote('4');">
	<area shape="circle" coords="19,78,12" alt="4" onclick="pressMenuRemote('5');">
	<area shape="circle" coords="55,78,12" alt="5" onclick="pressMenuRemote('6');">
	<area shape="circle" coords="87,78,12" alt="6" onclick="pressMenuRemote('7');">
	<area shape="circle" coords="19,98,12" alt="7" onclick="pressMenuRemote('8');">
	<area shape="circle" coords="55,98,12" alt="8" onclick="pressMenuRemote('9');">
	<area shape="circle" coords="87,98,12" alt="9" onclick="pressMenuRemote('10');">
	<area shape="circle" coords="19,117,12" alt="previous" onclick="pressMenuRemote('412');">
	<area shape="circle" coords="55,117,12" alt="0" onclick="pressMenuRemote('11');">
	<area shape="circle" coords="87,117,12" alt="next" onclick="pressMenuRemote('407');">

	<area shape="circle" coords="19,147,12" alt="epg" onclick="pressMenuRemote('365');">
	<area shape="circle" coords="92,147,12" alt="fav" onclick="pressMenuRemote('364');">
	<area shape="circle" coords="19,215,12" alt="menu" onclick="pressMenuRemote('139');">
	<area shape="circle" coords="92,211,12" alt="exit" onclick="pressMenuRemote('174');">
	
	<area shape="circle" coords="55,180,15" alt="OK" onclick="pressMenuRemote('352');">
	<area shape="circle" coords="55,155,12" alt="up" onclick="pressMenuRemote('103');">
	<area shape="circle" coords="55,205,12" alt="down" onclick="pressMenuRemote('108');">
	<area shape="circle" coords="30,180,12" alt="left" onclick="pressMenuRemote('105');">
	<area shape="circle" coords="81,180,12" alt="right" onclick="pressMenuRemote('106');">
	
	<area shape="circle" coords="22,244,12" alt="info" onclick="pressMenuRemote('358');">
	<area shape="circle" coords="55,244,15" alt="media" onclick="pressMenuRemote('226');">
	<area shape="circle" coords="94,244,12" alt="back" onclick="pressMenuRemote('412');">
	
	<area shape="circle" coords="22,272,12" alt="volume up" onclick="pressMenuRemote('115');">
	<area shape="circle" coords="22,304,12" alt="volume down" onclick="pressMenuRemote('114');">
	<area shape="circle" coords="55,287,10" alt="mute" onclick="pressMenuRemote('113');">	
	<area shape="circle" coords="88,272,12" alt="channel up" onclick="pressMenuRemote('402');">
	<area shape="circle" coords="88,304,12" alt="channel down" onclick="pressMenuRemote('403');">
	
	<area shape="circle" coords="19,332,10" alt="red" onclick="pressMenuRemote('398');">
	<area shape="circle" coords="43,332,10" alt="green" onclick="pressMenuRemote('399');">
	<area shape="circle" coords="67,332,10" alt="yellow" onclick="pressMenuRemote('400');">
	<area shape="circle" coords="91,332,10" alt="blue" onclick="pressMenuRemote('401');">

	<area shape="circle" coords="19,350,10" alt="rewind" onclick="pressMenuRemote('168');">
	<area shape="circle" coords="43,350,10" alt="playpause" onclick="pressMenuRemote('164');">
	<area shape="circle" coords="67,350,10" alt="stop" onclick="pressMenuRemote('128');">	
	<area shape="circle" coords="91,350,10" alt="forward" onclick="pressMenuRemote('208');">

	<area shape="circle" coords="19,369,10" alt="record" onclick="pressMenuRemote('167');">
	<area shape="circle" coords="43,369,10" alt="timer" onclick="pressMenuRemote('362');">
	<area shape="circle" coords="67,369,10" alt="web" onclick="pressMenuRemote('217');">
	<area shape="circle" coords="91,369,10" alt="plugin" onclick="pressMenuRemote('156');">
	
	<area shape="circle" coords="19,396,10" alt="audio" onclick="pressMenuRemote('392');">
	<area shape="circle" coords="43,396,10" alt="pip" onclick="pressMenuRemote('375');">
	<area shape="circle" coords="67,396,10" alt="subtitle" onclick="pressMenuRemote('370');">
	<area shape="circle" coords="91,396,10" alt="sleep" onclick="pressMenuRemote('142');">

	<area shape="circle" coords="19,414,10" alt="text" onclick="pressMenuRemote('388');">
	<area shape="circle" coords="43,414,10" alt="tv" onclick="pressMenuRemote('377');">	
	<area shape="circle" coords="67,414,10" alt="radio" onclick="pressMenuRemote('385');">
	<area shape="circle" coords="91,414,10" alt="help" onclick="pressMenuRemote('138');">
</map>
